// ================================================== MY-ACCOUNT ================================================
.address {
	@include panel;
	.icon-trash, .icon-edit { @extend .pull-right; }
}

#myAccount-basicInfo { @include column-desktop(5); }
#myAccount-addresses { @include column-desktop(7); }


// ================================================== MY-EVENTS ================================================
#myEvents-table, #myVenues-table {
	th { vertical-align: top; }
	th, td { max-width: 500px; }
	td.editting-cell {
		text-align: center;
		>  a > .icon-pencil { font-size: $fontSize-large*1.25; }
	}
	ul > li {
		> span {
			font-weight:	bold;
			vertical-align:	top;
		}
		> div, ul {
			left:			$padding-large;
			margin-right:	$margin;
			position:		relative;
		}
		> ul {
			margin-left:	0px;
			text-indent:	-10px;
		}
	}
}