// ============================================================= ALERTS ================================================
$alert-padding:				15px !default;
$alert-borderRadius:		$borderRadius !default;
$alert-link-fontWeight:		bold !default;

$alert-style-positive-bg:			$bgColor-positive !default;
$alert-style-positive-text:			$color-positive !default;
$alert-style-positive-border:		$border-positive !default;

$alert-style-neutral-bg:			$bgColor-neutral !default;
$alert-style-neutral-text:			$color-neutral !default;
$alert-style-neutral-border:		$border-neutral !default;

$alert-style-negative-bg:			$bgColor-negative !default;
$alert-style-negative-text:			$color-negative !default;
$alert-style-negative-border:		$border-negative !default;
