// ============================================================= BADGES ================================================
$badge-borderRadius:	$borderRadius-large !default;

$badge-style-default-bg:		gray !default;
$badge-style-default-color:		#ffffff !default;

$badge-style-positive-bg:		$brandColor-positive !default;
$badge-style-positive-color:	#ffffff !default;

$badge-style-neutral-bg:		$brandColor-neutral !default;
$badge-style-neutral-color:		#ffffff !default;

$badge-style-negative-bg:		$brandColor-negative !default;
$badge-style-negative-color:	#ffffff !default;