// ============================================================= DROPDOWNS ================================================
$dropdown-bg:						rgb(211, 211, 211);
$dropdown-border:					$border !default;
$dropdown-zIndex:					1100 !default;

$dropdown-type-vertical-icon:		$icon-doubleAngle-down !default;
$dropdown-type-horizontal-icon:		$icon-doubleAngle-right !default;
