// ============================================================= NAVS ================================================
$nav-hover-bg:				$bgColor-soft !default;
$nav-hover-color:			$color !default;
$nav-active-bg:				$bgColor-inverse !default;
$nav-active-color:			$color-inverse !default;
$nav-header-color:			$color-soft !default;
$nav-divider-color:			darken($bgColor, 10%) !default;
$nav-link-padding:			5px 10px !default;

$nav-type-vertical-bordered-bgColor:	$bgColor-soft !default;
$nav-type-vertical-bordered-bg:			1px solid $nav-type-vertical-bordered-bgColor !default;

$nav-well-hover-bg:			$bgColor !default;
$nav-well-hover-color:		$color !default;
