// ============================================================= PANELS ================================================
$panel-bg:							$bgColor !default;
$panel-border:						1px solid $border-color !default;
$panel-boxShadow:					$boxShadow !default;

$panel-style-default-color:			$color !default;
$panel-style-default-border:		1px solid $border-color !default;
$panel-style-default-header-bg:		$bgColor-soft !default;
$panel-style-default-header-color:	$header-color !default;
