// ============================================================= SCREEN SIZES ================================================
$screen-minWidth-phone:		0px !default;
$screen-maxWidth-phone:		759px !default;
$screen-minWidth-tablet:	$screen-maxWidth-phone + 1 !default;
$screen-maxWidth-tablet:	1024px !default;
$screen-minWidth-desktop:	$screen-maxWidth-tablet + 1 !default;
$screen-maxWidth-desktop:	1000000px !default;
