// ============================================================= WELLS ================================================
$well-bgColor:					$bgColor-soft !default;
$well-color:					$color !default;
$well-border:					$border !default;

$well-style-positive-bg:		$bgColor-positive !default;
$well-style-positive-text:		$color-positive !default;
$well-style-positive-border:	$border-positive !default;

$well-style-neutral-bg:			$bgColor-neutral !default;
$well-style-neutral-text:		$color-neutral !default;
$well-style-neutral-border:		$border-neutral !default;

$well-style-negative-bg:		$bgColor-negative !default;
$well-style-negative-text:		$color-negative !default;
$well-style-negative-border:	$border-negative !default;