// ============================================================ MANAGE-SCRAPS =========================================================
#manageScraps-table {
	margin-top: $margin-large;
	.scrapIcon-cell { text-align: center; }
}


// ============================================================ EDIT =========================================================
#scrapVenueEvent-wrapper {
	width:50%;
	> ul {
		@include listStyle-none;
		 > li {
			 display: block;
			 > label {
				width:			33%;
			 	vertical-align: top;
			 }
			 > div { display: inline-block; }
		}
	}
}

#backButton { float: right; }