// ============================================================== LAYOUT ========================================================================
body { position: relative; }

header {
	@include	navbar('fixed-top');
	
	#member-mainNavBar { right: 100px; }
}

#content {
	padding:	$padding-large;
	margin-top:	50px;
	height:		100%;
}

.hidden {
	display: none!important;
}
