// ============================================================== LAYOUT ========================================================================
body { position: relative; }

header {
	@include	navbar('fixed-top');
	.nav-auth {
		@extend		.nav;
		position:	absolute;
		top:		0px;
		right:		0px;
	}
	.nav-type-horizontal {
		position:	relative;
		right:		150px;
	}
	#member-mainNavBar { right: 100px; }
}

#content {
	padding:	$padding-large;
	margin-top:	50px;
	height:		100%;
}

form > div {
	> textarea, select, input { @include column-desktop(7); }
	> input { width: 58.33333% !important; }
	> p {
		margin:			0px;
		padding:		10px;
		padding-top:	7px;
	}
}


// ============================================================== FORMS ========================================================================
#addWebLink-button { @include column-desktop-offset(2); }

.webLink-wrapper {
	@include	column-desktop(7,2);
	border:		$border;
	margin-top:	$margin;
	&:first-of-type {
		@include	column-desktop-offset(0);
		margin-top:	0px;
	}
	> div {
		padding:	0px;
		> label { width: 15% !important; }
		> input { width: 80% !important; }
	}
}

// ============================================================== TAGS ========================================================================
ul { @include listStyle-none; }

body { height: 100%; }


// ============================================================== SITE-WIDE CLASSES ========================================================================
.eventInformation-list, .venueInformation-list {
	> li {
		display: block;
		> label { vertical-align: top; }
		> div, ul, .longText-wrapper { display: inline-block; }
		> ul, div {
			max-width:	54%;
			overflow-x:	scroll;
		}
		.longText-wrapper {
			max-width: 57%;
			vertical-align: top;
		}
	}
}

table > tbody > tr td > .dropdown > div, table > tbody > tr td > .dropdown > ul { min-width:300px; }

// ============================================================== INDEX ========================================================================
.eventInformation-list, .venueInformation-list {
	display:		inline-block;
	vertical-align: top;
	width:			100%;
	label { vertical-align: top; }
	> ul, > div {
		max-width:	49%;
		display:	inline-block;
	}
}

#eventsVenues-list {
	display:		inline-block;
	margin-top:		0px;
	margin-bottom:	0px;
	padding:		0px;
	min-height:		625px;
	height:			100%;
	overflow:		scroll;
	vertical-align: top;
	width:			0%;
	#eventsList-container > div, #venuesList-container > div {
		border-bottom:	$border;
		margin-bottom:	0px;
		padding:		$padding-large 0px;
		> img {
			border:			none;
			vertical-align: top;
			width:			17px;
			&:hover { cursor: pointer; }
		}
	}
	.eventInformation-list, .venueInformation-list {
		width:	93%;
		> li > ul, div {
			max-width:	46%;
			overflow-x:	scroll;
		}
	}
	#venuesList-container { display: none; }
}

#displayAdjustment-container {
	position:	absolute;
	display:	block;
	right:		$padding*2;
	top:		$padding*2;
	z-index:	10;
	#eventVenues-toggle { margin-right: $margin-large*2; }
}

#map-wrapper {
	padding-top:	0px;
	padding-bottom:	0px;
	z-index:		5;
	display:		inline-block;
	vertical-align:	top;
	width:			99%;
	height:			100%;
	#map {
		min-height:	100%;
		div.gm-style-iw {
			.longText-wrapper { max-width: 54%; }
		}
	}
}