// ============================================================= ALERTS ================================================
$alert-padding:				15px;
$alert-borderRadius:		$borderRadius;
$alert-link-fontWeight:		bold;

$alert-style-positive-bg:			$bgColor-alert-positive;
$alert-style-positive-text:			$color-positive;
$alert-style-positive-border:		$border-positive;

$alert-style-neutral-bg:			$bgColor-neutral;
$alert-style-neutral-text:			$color-neutral;
$alert-style-neutral-border:		$border-neutral;

$alert-style-negative-bg:			$bgColor-negative;
$alert-style-negative-text:			$color-negative;
$alert-style-negative-border:		$border-negative;
