// ============================================================= BUTTONS ================================================
//$btn-style-default-color:				$color !default;
//$btn-style-default-bgColor:				$bgColor !default;
//$btn-style-default-border-color:		$border-color !default;
//
//$btn-style-inverse-color:				$color-inverse !default;
//$btn-style-inverse-bgColor:				$bgColor-inverse !default;
//$btn-style-inverse-border-color:		lighten($btn-style-inverse-bgColor, 5%) !default;

$btn-style-positive-color:				$color-inverse;
$btn-style-positive-bgColor:			$bgColor-positive;
$btn-style-positive-border-color:		darken($btn-style-positive-bgColor, 20%);

$btn-style-neutral-color:				#ffffff !default;
$btn-style-neutral-bgColor:				$brandColor-neutral !default;
$btn-style-neutral-border-color:		darken($btn-style-neutral-bgColor, 5%) !default;
//
//$btn-style-negative-color:				#ffffff !default;
//$btn-style-negative-bgColor:			$brandColor-negative !default;
//$btn-style-negative-border-color:		darken($btn-style-negative-bgColor, 5%) !default;
