// ============================================================= CODE ================================================
$code-color:	$color-accent !default;
$code-bg:		$bgColor-soft !default;

$pre-color:		$color-inverse !default;
$pre-bgColor:	$bgColor-inverse !default;
$pre-maxHeight:	300px !default;
