
// ================================================== COLORS ================================================
$color:						#333333 !default;
$color-inverse:				#ffffff !default;
$color-soft:				lighten($color, 30%) !default;
$color-soft-inverse:		lighten($color-inverse, 30%) !default;
$color-accent:				rgb(246,	243,	236) !default;
$color-accent-inverse:		#6E4F2d !default;
$color-positive:			#468847 !default;
$color-neutral:				#c09853 !default;
$color-negative:			#b94a48 !default;
$color-info:				#31708f !default;
//$color-placeholderText: $colorSoft !default;

$link-color:				$color-accent !default;
//$link-color-inverse: $color-accent-inverse !default;
$link-color-hover:			lighten($link-color, 20%) !default;
$link-color-active:			$link-color-hover !default;
//$link-color-hover-inverse: fade-out($link-color-inverse, 0.2) !default;

$header-color:				$color-accent !default;
$header-2-color:			lighten($header-color, 9%) !default;
$header-3-color:			lighten($header-2-color, 9%) !default;
$header-4-color:			lighten($header-3-color, 9%) !default;
$header-5-color:			lighten($header-4-color, 9%) !default;
$header-6-color:			lighten($header-5-color, 9%) !default;
$header-color-inverse:		$color-accent-inverse !default;

$bgColor:					#DBD3D5 !default;
$bgColor-soft:				#698B9C !default;
//$bgColor-images:			#ffffff !default;
$bgColor-inverse:			#242C2A !default;
$bgColor-positive:			#dff0d8 !default;
$bgColor-neutral:			#fcf8e3 !default;
$bgColor-negative:			#f2dede !default;
$bgColor-info:				#d9edf7 !default;

$boxShadow-color:			rgba(0, 0, 0, 0.075) !default;
$boxShadow:					1px 2px 2px 0px $boxShadow-color !default;
$boxShadow-hard:			1px 2px 2px 0px #000000 !default;

$brandColor-positive:		#5cb85c !default;
$brandColor-neutral:		#ed9c28 !default;
$brandColor-negative:		#d9534f !default;
$brandColor-info:			#5bc0de !default;
