// ============================================================= DROPDOWNS ================================================
$dropdown-bg:						$bgColor-inverse;
$dropdown-border:					$border;
$dropdown-zIndex:					1100;

$dropdown-type-vertical-icon:		$icon-doubleAngle-down;
$dropdown-type-horizontal-icon:		$icon-doubleAngle-right;

table > tbody > tr > td > .dropdown > div { min-width:200px; }

.dropdown > .nav {
	&:hover ~ a {
		background-color: $dropdown-bg;
		color: $color-dark;
	}
}

.navbar .nav .dropdown > a {
	&:hover {
		background-color: $dropdown-bg;
	}
}