// ============================================================= FORMS ================================================
$input-color:			$color-dark;
$input-bg:				lightgray;
$input-height:			($lineHeight + ($padding-small * 2) + 2);
$input-border:			1px solid $border-color ;

$placeholder-color:		$color-soft;

