// ============================================================= ICONS ================================================
$icons-fontPath:	'../../novumWarePublic/fonts/icons' !default;
$icons-fontSize:	16px !default;


// ============================================================= ICON CODES ================================================
$icon-chevron-down:			'\e605' !default;
$icon-chevron-left:			'\e607' !default;
$icon-chevron-right:		'\e60b' !default;
$icon-checkmark:			'\e606' !default;
$icon-doubleAngle-down:		'\e600' !default;
$icon-doubleAngle-right:	'\e602' !default;
$icon-edit:					'\e604' !default;
$icon-facebook-f:			'\e60e' !default;
$icon-grid:					'\e60a' !default;
$icon-info:					'\e60f' !default;
$icon-loading:				'\e60d' !default;
$icon-menu:					'\e60c' !default;
$icon-pause:				'\e608' !default;
$icon-play:					'\e609' !default;
$icon-shoppingCart:			'\e601' !default;
$icon-sound:				'\e610' !default;
$icon-trash:				'\e603' !default;