// ============================================================= ICONS ================================================
$icons-fontPath:	'../../novumWarePublic/fonts/icons';
$icons-fontSize:	16px;


// ============================================================= ICON CODES ================================================
$icon-chevron-down:			'\e605';
$icon-chevron-left:			'\e607';
$icon-chevron-right:		'\e60b';
$icon-checkmark:			'\e606';
$icon-doubleAngle-down:		'\e600';
$icon-doubleAngle-right:	'\e602';
$icon-edit:					'\e604';
$icon-facebook-f:			'\e60e';
$icon-grid:					'\e60a';
$icon-info:					'\e60f';
$icon-loading:				'\e60d';
$icon-menu:					'\e60c';
$icon-pause:				'\e608';
$icon-play:					'\e609';
$icon-shoppingCart:			'\e601';
$icon-sound:				'\e610';
$icon-trash:				'\e603';