// ============================================================= MISC ================================================
body{
  background: url('/images/dancers.png');
  background-size: 100% auto;
}

$hr-border:			1px solid $border-color !default;
