// ============================================================= SIZING ================================================
$container-width:		80% !default;

$padding:				10px !default;
$padding-small:			5px !default;
$padding-large:			15px !default;

$margin:				10px !default;
$margin-small:			5px !default;
$margin-large:			15px !default;

$borderRadius:			4px !default;
$borderRadius-large:	6px !default;
$borderRadius-small:	3px !default;

